/* Estilos comunes para header y footer */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos específicos para header y footer */
header {
  background-color: black;
  color: #fff;
  padding: 10px 0;
  position: relative; /* Agregar posición relativa para el contenido del header */
}

/* Establecer un ancho máximo para la imagen del header */
header img {
  max-width: 100%;
  height: auto;
  display: block; /* Evitar márgenes indeseados en la imagen */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/* Ajustar el tamaño del logo en dispositivos móviles */
@media (max-width: 768px) {
  header img {
      max-width: 80%; /* Puedes ajustar el valor según tus necesidades */
  }
}

.header-content {
  max-width: 960px;
  margin: 0 auto;
}


/* Estilos para el footer */
/* Estilos para el footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Establecer un ancho y alto máximo para las imágenes del footer */
footer .social-icons .social-icon img {
  max-width: 30px; /* Establece el ancho máximo */
  max-height: 30px; /* Establece el alto máximo */
}



footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  list-style: none;
}

footer .social-icons li {
  margin-left: 8px;
}

footer .social-icons .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  height: 100%;

}

.right {
  float: right;
  /* Coloca los elementos flotantes a la derecha */
  margin-left: 20px;
  /* Agrega un margen a la izquierda para separar del contenido principal */
}

/* Estilos para las imágenes dentro de la clase "right" */
.right img {
  max-width: 100%; /* Establecer el ancho máximo al 100% del contenedor */
  height: auto; /* Ajustar la altura automáticamente para mantener la proporción original */
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ajustar el ancho del formulario al 100% del contenedor */
  max-width: 400px; /* Establecer un ancho máximo para el formulario */
}