/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    position: relative;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    padding: 20px;
}

/* Establecer un ancho y alto máximo para las imágenes del footer */
footer .social-icons .social-icon img {
    max-width: 30px;
    max-height: 30px;
}

/* Estilos para el footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer .social-icons li {
    margin-left: 8px;
}

footer .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}